* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article>* {
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 20px 30px 60px 30px;
    background-color: rgb(245, 245, 245);
    font-family: DM Sans;
    font-size: 18px;
    border: 2px solid red;
}

.first-article {
    background-color: hsl(256, 67%, 59%);
    border-radius: 12px;
    color: hsl(0, 0%, 100%);
    padding: 40px 15px 20px 15px;
}

.first-article p {
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.first-title {
    font-size: 45px;
    font-weight: 500;
}

.first-span {
    color: hsl(39, 100%, 71%)
}

.first-italic {
    font-style: italic;
}

.img-stars {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    display: block;
}

.first-desc {
    color: rgb(245, 245, 245);
}

.bento-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.second-article {
    background-color: rgb(252, 250, 253);
    border-radius: 12px;
    padding: 15px 15px 20px 15px;
}

.second-article p,
.third-article p,
.fourth-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
}

.third-article {
    background-color: hsl(39, 100%, 71%);
    border-radius: 12px;
    padding: 15px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.third-article img {
    width: 72%;
    margin-top: 15px;
    margin-bottom: -20px;
    padding: 0;
    display: block;
}

.fourth-article {
    background-color: hsl(254, 88%, 90%);
    border-radius: 12px;
    padding: 15px 15px 25px 15px;
    text-align: center;
    line-height: 19px;
}

.fourth-article img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fifth-article {
    background-color: hsl(256, 67%, 59%);
    border-radius: 12px;
    padding: 17px 30px 20px 30px;
    text-align: center;
    line-height: 24px;
    font-size:28px;
    font-weight: 600;
    color:white;
}

.fifth-article img {
    width: 77%;
    margin-bottom: 30px;
}

.sixth-article {
    background-color: rgb(252, 250, 253);
    border-radius: 12px;
    padding: 30px 15px 15px 15px;
}

.sixth-title{
    font-size:35px;
    font-weight: 600;
}

.sixth-article img {
    width: 60%;
    margin-top: 15px;
}

.seventh-article {
    background-color:hsl(31, 66%, 93%);
    border-radius: 12px;
    padding: 20px 20px;
    font-size:27px;
    line-height: 28px;
    font-weight: 600;
}

.seventh-article span{
    font-style: italic;
    color: hsl(256, 67%, 59%);
}

.seventh-article img{
    width: 67%;
    margin-top: 20px;
}

.eighth-article {
    background-color: hsl(39, 100%, 71%);
    border-radius: 12px;
    padding: 20px 20px;
    font-size: 27px;
    line-height: 28px;
    font-weight: 600;
}

.eighth-article img{
    width:78%;
    margin-top: 20px;
    margin-bottom: 20px;
}